<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by Kelly Banks. He is a very hardworking student. 
  </p>
  <br />
  <p>
    He put this application together so others can enjoy food quips. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kelly Banks</h2>
      <br />
      <p>
        Kelly is a student. 
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kelly Banks</h2>
      <br />
      <p>
        Kelly put it twice because he thinks it is funny. 
      </p>
    </div>
  </div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />